<div class="container">
    <div class="row">
        <div class="col col-12">
            <!-- begin header -->
            <header class="header">
<nav class="navbar navbar-expand-lg fixed-top" role="navigation">
    <div class="container-fluid">
    <a class="navbar-brand" href="{{ site.url }}{{ site.baseurl }}/">{{ site.title }}</a>
    <button class="navbar-toggler ml-auto custom-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            {% for page in site.pages %}
            {% if page.title %}
            <li class="nav-item">
                <a href="{{ page.url | prepend: site.baseurl }}" class="nav-link">{{ page.title }}</a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>

    </div>
    </div>
</nav>
            </header>
            <!-- end header -->
        </div>
    </div>
</div>