<div class="col-xs-12 col-md-2">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a id="drop1" class="dropdown-toggle" href="#" data-toggle="dropdown">
                Стойки <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li class="nav-item"><a class="nav-link" href="#">Hi-Hi</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Hi-End</a></li>
                <li class="nav-item"><a class="nav-link" href="#">AV-TV</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Стойки под АС</a></li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                Кабели <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li class="nav-item"><a class="nav-link" href="#">Межблочные</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Акустические</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Сетевые</a></li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ site.baseurl }}/category/upgrade">Модернизация</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Расчет</a>
        </li>
    </ul>
</div>