.post-title-box {
  padding: 40px 0;

  .post-title {
    margin-bottom: 5px;
    width: 900px;
    max-width: 100%;
    font-size: 57px;
    line-height: 70px;
  }

  .post__date {
    font-weight: 700;
  }
}

.post-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &:after {
    content: "";
    display: table;
    width: 100%;
    min-height: 300px;
    padding-top: 50%;
  }
}

.post {
  margin: 40px auto;

  &.post-no-image {
    margin: 0 auto 80px;
  }

  img {
    margin: 30px 0;
  }
}

.post__content {
  margin-bottom: 40px;
}