---
layout: default
---

<div class="container">
    <div class="post-title-box">
        <span class="post__date">
          <time datetime="{{ page.date | date_to_xmlschema }}">{{page.date | date: '%d.%m.%Y'}}</time>
        </span>

        <h1 class="post-title">{{ page.title | escape }}</h1>
    </div>

    {% assign no-image = nil %}
    {% if page.image %}
    <div class="post__head">
        <div class="post-image" style="background-image: url({{url}}{{site.baseurl}}{{page.image}})"></div>
    </div>
    {% else %}
    {% assign no-image = 'post-no-image' %}
    {% endif %}
</div>

<div class="container">
    <div class="row">
        <!-- begin post -->
        <article class="post {{ no-image }}">

            <div class="post__content">
                {{ content }}
            </div>
        </article>
        <!-- end post -->
    </div>
</div>